@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F2F2F2; /* Background Greys */
  color: #232127; /* Text Black */
}

/* Custom Scrollbar Tipis & Elegan */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}